*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}



.fundo{
    background-image: url('pexels-danny-meneses-943096.png' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width:100%;
    height: 600px;
    
}

nav span{
    text-transform: uppercase;
    font-weight:500;
    color:	#F5F5F5;
    font-size: 18px;
    color:white;
    padding: 10px;
}
nav{
    justify-content: space-between;
    display: flex;
}
nav ul li{
    list-style: none;
    display:inline-flex;
    color:white;
    margin-left: 10px;
    padding: 10px;
    cursor:pointer;
}

.titulo{
    font-size: 35px;
    font-weight: 600;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    
    
}
/* aqui se encerra meu cabeçalho*/

.servicos{
    width: 100%;
    height: 500px;
    background-color: 	#1C1C1C;
}

.container{
    width:1140px;
    display: flex;
   justify-content: center;
   margin: auto;
  
}


.tracinho{
    width:60px;
    height: 3px;
    background-color:white;
    margin-top: 55px;
    margin-left: -90px;
  
}

.ser{
    color:white;
    letter-spacing: 3px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo2{
  display: flex;
  justify-content: center;
}

.one {
    background-color:#363636bb;
    width: 300px;
    height: 400px;
    margin-left: 6px;
    border-radius: 10px;
    box-shadow: 5px 1px 10px black;
}
.two {
    background-color:#363636bb;
    width: 300px;
    height: 400px;
    margin-left: 6px;
    border-radius: 10px;
     box-shadow: 5px 1px 10px black;
}
.tree{
        background-color:#363636bb;
        width: 300px;
        height: 400px;
        margin-left: 6px;
        border-radius: 10px;
        box-shadow: 5px 1px 10px black;
    
}
.trabalhos{
    display: flex;
    margin-top: 35px;
}

#celular,#codigo,#interface{
   margin-left: 25%;
   margin-top:20px;
}
 h3{
     text-align: center;
     color:#ffffff
 }

 .texto{
     text-align: center;
     margin-top:10px;
     margin-left: 5px;
     color:white;
     font-weight: 500;
     padding: 10px;
 }

.projetos{
    width:100%;
    height: 700px;
    background-color: #363636;
}

.tracinhoo{
    width:60px;
    height: 3px;
    background-color:white;
    margin-top: 55px;
    margin-left: -110px;
  
}

/*area de projetos*/
.pro{
    display: flex;
    flex-wrap: wrap;
    
}

.project{
   
    margin-right: 1px;  
      
}


.clinica{
    margin-top: 50px;
    width:300px;
    height: 500px;
    border-radius: 10px;
    margin-right: 10px;
    
}

.sobre{
    width:550px;
    height: 250px;
    background-color: #363636bb;
    border-radius: 10px;
    box-shadow: 5px 1px 10px black;
    
}
.eu{
    font-size: 17px;
    padding: 10px;
    margin-top: 25px;
   
    color: white;
  letter-spacing: 1.3px;

}

.git{
    width: 100px;
    height: 50px;
    text-align: center;
    
    background-color: #363636bb;
    border-radius: 10px;
    box-shadow: 5px 1px 10px black;
    color: white;

}
.hub{
    display: flex;
    flex-direction: column;
    align-items: center;

}
 .texto{
    margin:auto;
   
}

a{
    text-decoration: none;
}
.tracinhooo{
    margin-left: -80px;
    width:60px;
    height: 3px;
    background-color:white;
    margin-top: 55px;
}
.fim{
    font-size: 20px;
    color: white;
}

ul li{
    list-style-type: none;
    color: white;
    
}
li{
    margin-top: 10px;
    color:white;
}

.rodape{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    
    
}

.projetoos{
    width:100%;
    height: 270px;
    background-color: #363636;
}
@media screen and (max-width:700px){

    body{
        width:auto;
    }
    .container{
        width:auto;
        align-items: center;
    }

    .trabalhos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicos{
        height: auto;
        
    }
    .projetos{
        width:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1800px;
        padding: 1px;
    }
    .project{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .pro .container{
        background-color: #363636;
    }

    .one{
      
       margin-bottom: 10px;
        margin-right: -14px;
        height: 295px;
    }

    .two{
      
       margin-bottom: 10px;
       margin-right: -18px;
        height: 295px;
    }
    .tree{
        
        margin-bottom: 10px;
        
        margin-right: -18px;
        height: 295px;
        
        
        
    }

    .titulo{
        font-size: 20px;
        text-align: center;
    }

    .project{
        background-color: #363636;
        height: auto;
        margin-bottom: 135px;
        width:auto;
    }
    .clinica{
      margin-left: 30px;
     

       
    }
    .ser{
        margin-left: 10px;
    }

    .tracinho{
        margin-left: -100px;
    }
 
    .tracinhoo{
        margin-left: -100px;
    }
    .tracinhooo{
        margin-left: -80px;
        width:60px;
        height: 3px;
        background-color:white;
        margin-top: 55px;
    }

    .sobre{
        width:250px;
        margin-top: -270px;
        height: auto;
    }

    .hub{
        height: 700px;
    }

    .eu{
        margin-top: 1px;
    }

    .projetoos{
        width:100%;
        height: 400px;
        background-color: #363636;
    }
    
    .fim{
        font-size: 20px;
        color: white;
    }
    
    ul li{
        list-style-type: none;
        color: white;
        
    }
    li{
        margin-top: 10px;
        color:white;
    }
    
}